<div class="section section-hero section-shaped" style="padding-bottom: 0px !important;">
  <div class="page-header">
    <img class="bg-image" src="{{#if @site.cover_image}}{{@site.cover_image}}{{else}}{{asset "img/header_home.svg"}}{{/if}}" alt="Background Image">
    <div class="container shape-container d-flex align-items-center pt-0">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <p class="lead"> <b class="display-1">{{@site.title}}</b> <br>{{@site.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>